##Tasks

Fundamentals Of Data Analysis

This repository is used for the task given by the lecture on
Fundamentals of Data Analaysis module on Higher Diploma in Science in Computing in Data Analytics at ATU. 


Table of content:

* collatz
* flip a coin
* overview of the famous penguins data set

## Task 1

## Task 2
***

Types of variables of the famouse penguins dataset.

In [16]:
# import pandas
import pandas as pd

# Pprovide the raw file URL
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/penguins.csv"

# Read the CSV file
pingwiny = pd.read_csv(url, encoding='ISO-8859-1')

In [10]:
# checing data types
pingwiny.info()

species               object
island                object
bill_length_mm       float64
bill_depth_mm        float64
flipper_length_mm    float64
body_mass_g          float64
sex                   object
dtype: object

In [20]:
# checking top 10 observation
pingwiny.head(10)

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,MALE
6,Adelie,Torgersen,38.9,17.8,181.0,3625.0,FEMALE
7,Adelie,Torgersen,39.2,19.6,195.0,4675.0,MALE
8,Adelie,Torgersen,34.1,18.1,193.0,3475.0,NaN
9,Adelie,Torgersen,42.0,20.2,190.0,4250.0,NaN

The dataset inclueds the following types of variables: 

Categorical Variables:
* Species: the varibales represent the species of the penguin (Adelie, Chinstrap, Gentoo
* Species: the varibales represent the species of the penguin (Adelie, Chinstrap, Gentoo)
* Island: the variable represent the island where the penuin was observed (Torgersen, Dream, Biscoe)
* Sex: represent the gender of the penguin (Male or Femal)

All categorical variables are continuous becouse they can take any numerical value
Numeric Variables:

* Bill Length: the variable represents the length of the penguin's beak in millimeters(mm). This varibale is continuous numeric variable    
* Bill Depth: the variable represents the depth of the penguin's beak in millimeters(mm)
* Flipper Length: represents the penguis's fin in milimiters (mm)
* Body Mass: the variable represnets the penguin's body weight in grams (g)

## Task 3 

***
Give an overview of the famous penguins data set,2 explaining
the types of variables it contains. Suggest the types of variables
that should be used to model them in Python, explaining your
rationale.

## Task 4 
*** 
Suppose you are flipping two coins, each with a probability p of
giving heads. Plot the entropy of the total number of heads versus p

# Task 5 

*** 
Create an appropriate individual plot for each of the variables in
the penguin data set .

In [22]:
# import 
import matplotlib as plt 

# import 
import seaborn as sns

# import pandas
import pandas as pd


numeric_variables = ['bill_length_mm', 'bill_depth_mm', 'flipper_length_mm', 'body_mass_g']

categorical_variables = ['species', 'island', 'sex']

# for variable in numeric_variables:
#     plt.figure(figsize=(8, 6))
#     sns.histplot(pingwiny[variable], kde=True, bins=30, color='blue')
#     # adding title 
#     plt.title(f'Distribution of {variable}')
#     # adding labels
#     plt.xlabel(variable)

#     plt.ylabel('Frequency')git 
#     # adding gird 
#     plt.grid(True)
#     plt.show()

In [23]:
# # Creating a histogram for bill lengt
# plt.hist(pingwiny['bill_length_mm'], color= 'pink', alpha=0.7, rwidth=0.85)
# plt.xlabel('Bill Length (mm)')
# plt.ylabel('Frequency')
# plt.grid(axis='y', alpha=0.75)
# plt.title('Histagram of  Bill Length in mm')

### Reference 

[1]: *Data type objects*, NumPy Developers  https://numpy.org/doc/stable/reference/arrays.dtypes.html

***
#### End